<h2>{{ title }}</h2>

<div *ngFor="let productsObj of dataSource; index as productId">

  <h3>
    <a [title]="productsObj.name + ' details'" [routerLink]="['/products', productId]">
      {{ productsObj.name }}
    </a>
  </h3>

  <p *ngIf="productsObj.description">
    Description: {{ productsObj.description }}
  </p>

  <button (click)="share()">
    Share
  </button>

  <!-- <app-product-alerts
  [product]="product"
  (notify)="onNotify()">
  </app-product-alerts> -->

</div>
